
@{
}

@model Book

<div class="card card-outline-primary m-1 p-1">
    <div class="bg-light">
        <h3>@Model.Title</h3>
        <span class="badge bg-info" style="float:right;">
            ISBN: @Model.Isbn
        </span>
    </div>

    <ul class="list-unstyled">
        <li>Author: @Model.Author</li>
        <li>Publisher: @Model.Publisher</li>
        <li>Classification: @Model.Classification</li>
        <li>Category: @Model.Category</li>
        <li>Page Count: @Model.PageCount</li>
        <li>Price: $@Model.Price</li>
    </ul>

    <form method="post" asp-page="/Cart">

        <input type="hidden" asp-for="@Model.BookId" />
        <input type="hidden" name="returnURL" value="@ViewContext.HttpContext.Request.PathAndQuery()"/>
        <span class="card-test">
            <button type="submit" class="btn btn-success btn-sm float-end">Add to cart</button>
        </span>
    </form>
</div>



